body{
  font-family: 'Noto Serif', serif;
  font-family: 'Noto Serif JP', serif;
}
img{
  width: 100%;
  vertical-align: bottom;
}
.inner{
  width: 80%;
  margin: auto;
}
.inner60{
  width: 60%;
  margin: auto;
}

$color-222:#222;
$color-yellow:#FFD200;
$color-navy:#324556;
$color-white:#fff;
$color-blue:#00859B;
$color-lightblue:#ABC5D6;
$color-gray:rgba($color:#00859B,$alpha:0.1);


.section-title{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  &-en{
    font-size: 3em;
    color: $color-blue;
  }
  &-ja{
    font-size: 1.2em;
    padding: 20px;
  }
  &-main{
    padding-top: 60px;
    font-size: 2em;
    color: $color-blue;
    margin-bottom: 2%;
  }
  &-sub{
    font-size: 1.2em;
    margin-bottom: 2%;
  }
}

.section-btn{
  color: $color-222;
  background-color: $color-yellow;
  display: inline-block;
  width: 250px;
  padding: 25px;
  border-radius:30px ;
  font-weight: bold;
  box-shadow: 5px 5px 5px gray;
  transition: .5s;
  &-navy{
    background-color: $color-navy;
    color: #fff;
  }
}
.section-btn:hover {
  animation: pulsation .7s alternate infinite;
}

@keyframes pulsation {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1.1); }
}

.header{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($color: $color-white, $alpha: 0.8);
  &-logo{
    width: 150px;
    margin-left: 30px;
  }
  &-nav{
    &-list{
      display: flex;
      &-item{
        margin-right: 30px;
      }
    }
  }
}

// 大サイズ header-sp非表示
.header-sp{
  display: none;
}

.fv{
  text-align: center;
  &-catch{
    &-main{
      line-height: 1.8em;
      font-size: 1.5em;
      margin-bottom: 1%;
      &-l{
        font-size: 1.2em;
        border-bottom: 1px solid #222;
        margin: 2%;
      }
    }
    &-sub{
      line-height: 1.8em;
      font-size: 1.2em;
      margin-bottom: 60px;
    }
  }
}

.counseling{
  background-color: $color-gray;
  padding: 60px 0;
  text-align: center;
  &-title{
    &-main{
      margin-bottom: 30px;
      line-height: 1.8em;
      font-size: 1.5em;
    }
    &-btn{
      padding: 0 20px;
    }
  }
}

.coachtech{
  padding-bottom: 60px;
  &-flex{
    display: flex;
    justify-content: space-between;
    &-container{
      text-align: center;
      &-desc{
        font-size: 1.5em;
        padding-bottom: 10px;
        &-1st{
          margin-top: 1.8%;
        }
        &-large{
          font-size: 2em;
          margin-left: 2%;
          margin-right: 2%;
          font-weight: bold;
          color: $color-navy;
        }
        &-p{  //話題のプログラミングスクール部分
          font-size: 1.2em;
          &-large{
            font-size: 2em;
            font-weight: bold;
            margin-left: 2%;
            color: $color-navy;
          }
        }
      }
      &-video{
        margin-top:5% ;
        width: 70%;
        height: 70%;
      }
    }
    &-container:not(:last-child){
      margin-right: 1%;
    }
  }
}

.feature{
  padding-bottom: 60px;
  background-color: $color-gray;
  &-flex{
    display: flex;
    justify-content: space-between;
    &-container{
      width: 33%;
      background-color: $color-white;
      &-num{
        text-align: center;
        padding: 8%;
        font-size: 1.5em;
      }
      &-img{
        width: 80%;
        margin: auto;
      }
      &-desc{
        text-align: center;
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 30px 0;
      }
    }
    &-container:not(:last-child){
      margin-right: 1%;

    }
  }
}

.stagee{
  padding-bottom: 60px;
  &-desc{
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    line-height: 2em;
    &-img{
      width: 30%;
    }
    &-p{
      margin-bottom: 30px;
    }
    &-soon{
      margin-top: 30px;
    }

  }
}

.footer{
  background-color: #efefef;
  &-company{
    padding-top:60px ;
    width: 40%;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  &-nav{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    &-list{
      line-height: 2em;
      &-item{
        margin-bottom: 10px;
      }
    }
    &-list:last-child{
      margin-left: 25%;
    }
    &-table{
      display: flex;
      flex-wrap: wrap;
      width: 65%;
      &-dt{
        margin-bottom: 35px;
        font-weight: bold;
        width: 20%;
      }
      &-dd{
        width: 80%;
      }
    }
  }
  .-item{
    margin-left: 15px;
  }
  &-copy{
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 767px) {
  .header{
    display: none;
  }
  .header-sp{
    display: block;
    height: 60px;
    display: flex;
    &-title{
      margin-top: 3%;
      width: 150px;
    }
      &-menu{   //三 3本線
        z-index: 2;
        width: 40px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 20px;
        &-line{
          &-top, &-middle, &-bottom {
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: #222;
            position: absolute;
            transition: 0.5s;
          }
        }
        &-line{ //3本線➀
          &-top {
            top: 0;
          }
          &-middle { //3本線②
            top: 12px;
          }
          &-bottom {  //3本線③
            top: 24px;
          }
        }
      }//.header-sp-menu

      &-nav{
        z-index: 1;
        position:absolute;
        height: 150vh;
        width: 100%;
        left: -100%;
        transition: 0.7s;
        background-color: #fff;
        opacity: 0.9;
        text-align: center;
        &-list{
          color: #222;
          font-weight: bold;
          &-item{
            margin-top: 100px;
            margin-bottom: 30px;
          }
        }
      }//.header-sp-nav

      //以下JSでつけたクラス
    .open span:nth-of-type(1) {
      top: 14px;
      transform: rotate(45deg);
    }
    .open span:nth-of-type(2) {
      opacity: 0;
    }
    .open span:nth-of-type(3) {
      top: 14px;
      transform: rotate(-45deg);
    }
    .slide{
      transform: translateX(100%);
    }
  }//.header-sp

  .section-title{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    &-en{
      font-size: 2em;
      color: $color-blue;
    }
    &-ja{
      padding: 15px;
    }
  }

  .section-btn:first-child{
    margin-bottom: 2%;
  }

  .inner{
    width: 90%;
    margin: auto;
  }
  .inner60{
    width: 80%;
    margin: auto;
  }

  .coachtech{
    &-flex{
      flex-direction:column ;
      &-container:not(:last-child){
        margin-bottom: 5%;
      }
    }
  }

  .feature{
    &-flex{
      flex-direction: column;
      &-container{
        width: 100%;
      }
      &-container:not(:last-child){
        margin-bottom: 5%;
      }
    }
  }

  .stagee{
    &-desc{
      font-size: 1em;
      &-p{
        margin-bottom: 4%;
      }
      &-soon{
        margin-top: 4%;
      }
    }
  }


  .footer{
    &-company{
      width: 80%;
    }
    &-nav{
      flex-direction: column;
      &-list{
        margin-bottom: 5%;
        display: flex;
        flex-wrap: wrap;
        &-item:not(:last-child){
          margin-right: 5%;

        }
      }
      &-table{
        width: 100%;
        &-dt{
          width: 30%;
        }
        &-dd{
          width: 70%;
        }
      }
    }
  }
}//@media768px

@media screen and (max-width: 375px) {
  .section-title{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    &-main{
      font-size: 1.5em;
    }
    &-ja{
      padding-bottom: 5%;
    }
  }
  .header-sp{
    &-title{
      margin-top: 7%;
    }
  }
  .section-btn{
    width: 180px;
  }
  .fv{
    &-catch{
      &-main{
        font-size: 1.2em;
      }
      &-sub{
        font-size: 1em;
      }
    }
  }
  .counseling{
    &-title{
      &-main{
        font-size: 1.2em;

      }
    }
  }
  .coachtech{
    &-flex{
      &-container{
        &-desc{
          font-size: 1em;
          &-1st{
            font-size: .9em;
          }
        }
      }
    }
  }
  .feature{
    &-flex{
      &-container{
        &-desc{
          font-size: 1em;
        }
      }
    }
  }
  .stagee{
    &-desc{
      &-p{
        line-height: 1.5em;
      }
      &-img{
        width: 80%;
      }
    }
  }
  .footer{
    &-company{
      width: 100%;
    }
    &-nav{
      &-list{
        display: flex;
        flex-wrap: wrap;
      }
      &-table{
        line-height: 1.2em;
        width: 100%;
        &-dt{
          width: 100%;
          margin-bottom: 2%;
        }
        &-dd{
          width: 100%;
          margin-bottom: 5%;
        }
      }
    }
  }
}//@media375px


// アニメーション用CSS
.fade-in {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.fade-in-down {
  transform: translate(0, -50px);
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.fade-in-right {
  transform: translate(50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}